<%= render 'layouts/head.html.erb' %>

<div class='<%= cookies['collapsed_nav'] == 'true' ? 'page-sidebar-collapsed' : 'page-sidebar-expanded' %> page-with-sidebar'>
  <div class='sidebar-wrapper'>
    <ul class='nav nav-sidebar'>
      <li class="<%= current_controller?(:tasks) ? 'active' : '' %>">
        <a class="shortcuts-activity" href="<%= tasks_path %>" title=
        "Running tasks"><i class='fa fa-dashboard'></i> <span>Running tasks</span></a>
      </li>

      <li class="<%= current_controller?(:projects) ? 'active' : '' %>">
        <a href="<%= projects_path %>" title=
        "Projects"><i class='fa fa-briefcase'></i> <span>Projects</span></a>
      </li>

      <% if current_user_admin? %>
      <li class="<%= current_controller?(:project_settings) ? 'active' : '' %>">
        <a href="<%= projects_settings_path %>" title="Settings"><i class="fa fa-gear"></i> <span>Settings</span></a>
      </li>
      <% end %>

      <!-- <li>
        <a href="#" title="Groups"><i class=
        'fa fa-gear'></i> <span>Settings</span></a>
      </li>
      <li class="">
        <a href="/help" title="Help"><i class=
        'fa fa-question-circle'></i> <span>Help</span></a>
      </li> -->
    </ul>

    <div class='collapse-nav'>
      <a class="toggle-nav-collapse" href="#" title="Open/Close">
        <i class="fa <%= cookies['collapsed_nav'] == 'true' ? 'fa-angle-right' : 'fa-angle-left' %>"></i>
      </a>
    </div>
  </div>

  <div class='content-wrapper'>
    <div class='container-fluid'>
      <div class='content'>
        <div class='flash-container'></div>
        <%= yield %>
      </div>
  </div>
</div>

<%= render 'layouts/foot.html.erb' %>